header{
    border-top:0px;
    border-bottom: 3px;
    border-color:black;
}
.navbar{
    list-style: none;
    display:inline-block;
    width:33%;
    text-align: center;
    border-right:1px solid black;
}
#rightlink{
    border-style:none;
}
#navbar{
    background-color: #3e94ff;
    margin-bottom: 5%;
}
ul{
    border-bottom:3px solid black;
    margin-bottom:0px;
}
canvas{
    margin-left:10%;
}